
<!DOCTYPE html>
<html lang="en">

<head>
     <title>Editor Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'images/favicon-16x16.png' &}">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!--Google Font Chilanka -->
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>
 {% load static %}
    <style>
        body{
            font-family: 'Chilanka', cursive;
        }

        textarea { resize: vertical; }
    </style>

    <script type="text/javascript" >

        function changeBodyBg(color){
        text = document.getElementById( 'textBox' );
        text.style.background =  '#' + color.toString()
        }

        function changeBodyText(size){
            text = document.getElementById( 'textBox' );
        text.style.fontSize = size;
        }

        function changeBodyLineHeight(size){
        text = document.getElementById( 'textBox' );
        text.style.lineHeight = size;
        }

        function changeFontColor(fontColor){
        text = document.getElementById( 'textBox' );
        text.style.color = '#' + fontColor.toString();
        }

        function changeFont(font){
        document.getElementById('textBox').style.fontFamily = font;
        }
    </script>

<body>

    <div class="wrapper">

        <!-- Page Content  -->
        <div id="content">
                <nav class="navbar navbar-dark bg-dark navbar-fixed-top" >
                    <button onclick="hideTest()"type="button"  class="btn btn-outline-success my-2 my-sm-0 ">
                       <span style ="color: white">Editor</span>
                    </button>
                    <a class="navbar-brand" style = "color:white; margin-left: -60px; text-align: center; " href="{% url 'book' %}" >GutenRead</a>
                    <button onclick="hide()" type="button" class = "btn btn-outline-success my-2 my-sm-0 " style = "background-color: #353a40; ">
                        <span style ="color: white">Assistance</span>
                    </button>
                </nav>


                <div class="container-fluid">
                    <div class = "row">

                        <div class = "col-sm-2" style = "margin-top: 40px">
                            <div class="sticky-top" id = "hideEditor">
                                <h3 style="color: #114C80; font-weight:bold"> Editor </h3>

                                <!-- This draws out the colour palete for selecting font colour -->
                                <h4 style ="font-weight:bold;"> Background Color </h4>
                                    <!--
                                    {% load static %}
                                    <script type="application/javascript" src = "{% static 'scripts/jscolor.js'%}"></script>

                                    <script src="jscolor.js"> </script>
                                    <button class="jscolor {valueElement:'chosen-value', onFineChange:'changeBodyBg(this)'}"; style="font-size : 20px; border: none; ">
            		                         Choose
                                    </button>
                                    -->
                                    <div class="dropdown">
                                        <button style ="background-color: #1E88E5; color: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onchange="changeBodyBg (this)">
                                            <a class="dropdown-item" style ="color: #FFFFFF; background-color: #66CCFF" href="javascript:changeBodyBg('66CCFF')">Light Blue</a>
                                            <a class="dropdown-item" style ="color: #FFFFFF; background-color: #00008b" href="javascript:changeBodyBg('00008b')">Dark Blue</a>
                                            <a class="dropdown-item" style ="color: #FFFFFF; background-color: #000000" href="javascript:changeBodyBg('000000')">Black</a>
                                            <a class="dropdown-item" style ="background-color: #ED0000" href="javascript:changeBodyBg('ED0000')">Red</a>
                                            <a class="dropdown-item" style ="background-color: #FFFF00" href="javascript:changeBodyBg('FFFF00')">Yellow</a>
                                            <a class="dropdown-item" style ="background-color: #fffdd0" href="javascript:changeBodyBg('fffdd0')">Cream</a>
                                        </div>
                                    </div>

                                 <!-- This draws out the Change Font Size part in settings -->
                            <div style = "padding-top: 30px">
                                <h4 style ="font-weight:bold;"> Font Size</h4>
                                    <div class="btn-group" role="group" aria-label="Basic example" >
                                        <button style ="background-color: #1E88E5; color: white" type="button" onclick="changeBodyText('75%')" class="btn btn-secondary">Small</button>
                                        <button style ="background-color: #1E88E5; color: white" type="button" onclick="changeBodyText('125%')"class="btn btn-secondary">Medium</button>
                                        <button style ="background-color: #1E88E5; color: white" type="button" onclick="changeBodyText('150%')"class="btn btn-secondary">Large</button>
                                    </div>
                            </div>
                                <!-- This draws out the dropdown table for choosing a font -->
                            <div style = "padding-top: 30px">
                                <h4 style ="font-weight:bold;"> Font Family</h4>
                                    <div class="dropdown">
                                        <button style ="background-color: #1E88E5; color: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose a Font
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onchange="changeFont (this)">
                                            <a class="dropdown-item" href="javascript:changeFont('serif')">Times New Roman</a>
                                            <a class="dropdown-item" href="javascript:changeFont('sans-serif')">Arial</a>
                                            <a class="dropdown-item" href="javascript:changeFont('georgia')">Georgia</a>
                                            <a class="dropdown-item" href="javascript:changeFont('monospace')">Monospace</a>
                                            <a class="dropdown-item" href="javascript:changeFont('cursive')">Cursive</a>
                                            <a class="dropdown-item" href="javascript:changeFont('fantasy')">Fantasy</a>
                                        </div>
                                    </div>
                            </div>

                            <!-- This draws out the slider to select Line Spacing -->
                            <div style = "padding-top: 30px">
                                <h4 style ="font-weight:bold;"> Line Spacing</h4>
                                    <div class="dropdown">
                                        <button style ="background-color: #1E88E5; color: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose Line Spacing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="javascript:changeBodyLineHeight('normal')">Normal</a>
                                            <a class="dropdown-item" href="javascript:changeBodyLineHeight('1.6')">1.6</a>
                                            <a class="dropdown-item" href="javascript:changeBodyLineHeight('2')">2</a>
                                            <a class="dropdown-item" href="javascript:changeBodyLineHeight('3')">3</a>
                                            <a class="dropdown-item" href="javascript:changeBodyLineHeight('4')">4</a>
                                        </div>
                                    </div>
                            </div>
                            <!-- This draws out the colour palete for selecting font colour -->
                            <div style = "padding-top: 30px">
                                <h4 style ="font-weight:bold;"> Font Color</h4>
                                  <!--
                                    <button class="jscolor {valueElement:'chosen-value', onFineChange:'changeFontColor(this)'}"; style="font-size : 20px; border: none;">
                                    Choose
                                     </button>
                                  -->

                                  <div class="dropdown">
                                      <button style ="background-color: #1E88E5; color: white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Choose
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onchange="changeFontColor (this)">
                                        <a class="dropdown-item" style ="color: #FFFFFF; background-color: #66CCFF" href="javascript:changeFontColor('66CCFF')">Light Blue</a>
                                        <a class="dropdown-item" style ="color: #FFFFFF; background-color: #00008b" href="javascript:changeFontColor('00008b')">Dark Blue</a>
                                        <a class="dropdown-item" style ="color: #FFFFFF; background-color: #000000" href="javascript:changeFontColor('000000')">Black</a>
                                        <a class="dropdown-item" style ="background-color: #ED0000" href="javascript:changeFontColor('ED0000')">Red</a>
                                        <a class="dropdown-item" style ="background-color: #FFFF00" href="javascript:changeFontColor('FFFF00')">Yellow</a>
                                        <a class="dropdown-item" style ="background-color: #fffdd0" href="javascript:changeFontColor('fffdd0')">Cream</a>
                                      </div>
                                  </div>
                            </div>
                            </div>
                        </div>

                        <div  class="col-sm-7" >
                            <div style="padding-top: 15px; margin-left: 60px">
                            {% block content %}
                                <h1 style = "padding-bottom: 2vh; text-align: center; font-weight: bold">{{name}}</h1>
                                {% for c in content %}
                                    <p id = "textBox">{{c}}</p>
                                {% endfor %}
                            {% endblock %}
                            </div>
                        </div>

                        <div class = "col-sm-2" style = "margin-top: 40px">
                             <div class="sticky-top" id = "hide" style ="margin-left: 80px">
                                <h3 style="color: #114C80; font-weight:bold"> Assistance </h3>
                                <textarea id="sel" rows="3" cols="25" name = "sel"  ></textarea>
                                    <button name = "type" id = "tts" value = "tts" type="button" class="btn btn-outline-success my-2 my-sm-0 " style = "background-color: #1E88E5; color: white">
                                        <span style ="color: white">Text to Speech</span>
                                    </button>
                                    <button name = "type" id = "syll" value = "syll" type="button" class="btn btn-outline-success my-2 my-sm-0 " style = "background-color: #1E88E5; color: white">
                                        <span style ="color: white">Syllables</span>
                                    </button>
                                    <button name = "type" id = "syns" value = "syns" type="button" class="btn btn-outline-success my-2 my-sm-0 " style = "background-color: #1E88E5; color: white">
                                        <span style ="color: white">Synonyms</span>
                                    </button>
                             </div>
                                <div id = "test">

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            $("#tts").on('click', function () {
                selectedTxt = $("#sel").val();
                console.log("selected: ", selectedTxt);
                $.get({type:"GET", url: "http://127.0.0.1:8000/getTextToSpeech/" + selectedTxt}, function(responseText, status) {
                    if (status === 'success') {
                        console.log("success");
                        console.log(responseText);
                        document.getElementById("sel").value = "Selected Word: " + selectedTxt;
                    } else {
                        console.log(responseText);
                        console.log("failed");
                    }
                });
            });

            $("#syll").on('click', function () {
                selectedTxt = $("#sel").val();
                console.log("selected: ", selectedTxt);
                $.get({type:"GET", url: "http://127.0.0.1:8000/getSyllables/" + selectedTxt}, function(responseText, status) {
                    if (status === 'success') {
                        console.log("success");
                        console.log(responseText);
                        document.getElementById("sel").value = "Selected Word: " + selectedTxt + "\nSyllables: "+ responseText;

                    } else {
                        console.log(responseText);
                        console.log("failed");
                    }
                });
            });

            $("#syns").on('click', function () {
                selectedTxt = $("#sel").val();
                console.log("selected: ", selectedTxt);
                $.get({type:"GET", url: "http://127.0.0.1:8000/getSynoynms/" + selectedTxt}, function(responseText, status) {
                    if (status === 'success') {
                        console.log("success");
                        console.log(responseText);
                        if(responseText.size == 0){
                            document.getElementById("sel").value = "Selected Word: " + selectedTxt + "\nNo available synonymns";
                        }
                        else{
                            document.getElementById("sel").value = "Selected Word: " + selectedTxt + "\nSynonynms: "+ responseText;
                        }

                    } else {
                        console.log(responseText);
                        console.log("failed");
                    }
                });
            });
        });

        function getSelectionText() {
        var text = "";
        var activeEl = document.activeElement;
        var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
        if (
            (activeElTagName == "textarea") || (activeElTagName == "input" &&
            /^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
            (typeof activeEl.selectionStart == "number")
            ) {
                text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
        } else if (window.getSelection) {
                text = window.getSelection().toString();
        }
            return text;
	    }

	    document.onmouseup = document.onkeyup = document.onselectionchange = function() {
  	        document.getElementById("sel").value = getSelectionText();
	    };

        //Function for hiding the right handside elements on the editor page
        count = 0;
        function hide(){

            if(count % 2 ==  0){
                document.getElementById("hide").style.opacity =  "0";
                count++;
            }
            else if( count % 2 != 0){
                document.getElementById("hide").style.opacity =  "1";
                count++;
            }
        }

        secondCount = 0;
        function hideTest(){

            if(secondCount % 2 ==  0){
                document.getElementById("hideEditor").style.opacity =  "0";
                secondCount++;
            }
            else if( secondCount % 2 != 0){
                document.getElementById("hideEditor").style.opacity =  "1";
                secondCount++;
            }
        }



        function Successfully_Received (data, textStatus, jqXHR){
            console.log("Successfully logged")
        }


    </script>




</body>

</html>
