<!doctype html>
<html lang="en">
  <head>

      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='spectrum.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="style.css">
    <title>Dyslexic Friendly Books</title>
  </head>
  {%load static %}

  <script type="text/javascript">

    function changeBodyBg(color){
        text = document.getElementById( 'textBox' );
        text.style.background =  '#' + color.toString()
    }

    function changeBodyText(size){
      document.body.style.fontSize = size;
    }

    function changeBodyLineHeight(size){
      text = document.getElementById( 'textBox' );
      text.style.lineHeight = size;
    }

     function changeFontColor(fontColor){
       text = document.getElementById( 'textBox' );
       text.style.color = '#' + fontColor.toString();
    }

    function changeFont(font){
        document.getElementById('textBox').style.fontFamily = font;
    }


  </script>
  <body>


  <nav class="navbar navbar-dark bg-dark navbar-fixed-top" >

    <a class="navbar-brand" style = "color:white " href="{% url 'home' %}" >Dyslexic Friendly Books</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    </nav>

    <div class = "container-fluid" style = "margin-top: 40px" >
      <div class="row">
        <div class="col-sm-2" >
            <div>
              <div style ="margin-bottom: 20px">
                <h3> Editor </h3>
              </div>
              <h4> Background Color </h4>

                {% load static %}
              <script src = "{% static 'scripts/jscolor.js'%}"></script>
              <button class="jscolor {valueElement:'chosen-value', onFineChange:'changeBodyBg(this)'}"; style="font-size : 20px";>
            		Background Colour
            	</button>
            </div>

            <!-- This draws out the Change Font Size part in settings -->
            <div style = "padding-top: 30px">
              <h4> Font Size</h4>
              <div class="btn-group" role="group" aria-label="Basic example" >
                <button type="button" onclick="changeBodyText('75%')" class="btn btn-secondary">Small</button>
                <button type="button" onclick="changeBodyText('125%')"class="btn btn-secondary">Medium</button>
                <button type="button" onclick="changeBodyText('150%')"class="btn btn-secondary">Large</button>
              </div>
            </div>

            <!-- This draws out the dropdown table for choosing a font -->
            <div style = "padding-top: 30px">
              <h4> Font Family</h4>
              <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Choose a Font
                 </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onchange="changeFont (this)">
                      <a class="dropdown-item" href="javascript:changeFont('serif')">Times New Roman</a>
                      <a class="dropdown-item" href="javascript:changeFont('sans-serif')">Arial</a>
                      <a class="dropdown-item" href="javascript:changeFont('georgia')">Georgia</a>
                      <a class="dropdown-item" href="javascript:changeFont('monospace')">Monospace</a>
                      <a class="dropdown-item" href="javascript:changeFont('cursive')">Cursive</a>
                      <a class="dropdown-item" href="javascript:changeFont('fantasy')">Fantasy</a>
                    </div>
              </div>
            </div>

            <!-- This draws out the slider to select Line Spacing -->
            <div style = "padding-top: 30px">
              <h4> Line Spacing</h4>


              <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Choose Line Spacing
                 </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:changeBodyLineHeight('normal')">Normal</a>
                    <a class="dropdown-item" href="javascript:changeBodyLineHeight('1.6')">1.6</a>
                    <a class="dropdown-item" href="javascript:changeBodyLineHeight('2')">2</a>
                    <a class="dropdown-item" href="javascript:changeBodyLineHeight('3')">3</a>
                    <a class="dropdown-item" href="javascript:changeBodyLineHeight('4')">4</a>
                  </div>
              </div>

              <!--
              <div class="btn-group" role="group" aria-label="Basic example" >
                <button type="button" onclick="changeBodyLineHeight('normal')" class="btn btn-secondary">1.0</button>
                <button type="button" onclick="changeBodyLineHeight('1.6')"class="btn btn-secondary">1.6</button>
                <button type="button" onclick="changeBodyLineHeight('2')"class="btn btn-secondary">2</button>
                <button type="button" onclick="changeBodyLineHeight('2.5')"class="btn btn-secondary">2.5</button>
              </div>
            -->
            </div>

            <!-- This draws out the colour palete for selecting font colour -->
            <div style = "padding-top: 30px">
              <h4> Font Color</h4>
                {% load static %}
              <button class="jscolor {valueElement:'chosen-value', onFineChange:'changeFontColor(this)'}"; style="font-size : 20px";>
                Choose Font Colour
            	</button>
            </div>
        </div>
  <div id= "textBox" class="col-sm-7" style="margin-left: 50px">
    <div style="padding-top: 15px">     <!-- style="line-height: 2" -->

		{% block content %}

			{% for c in content %}
				<p>{{c}}</p>
			{% endfor %}

		{% endblock %}

</div>
    </div>
      <div class="col-sm-2">
         <div style ="margin-bottom: 15px">
                <h3> Insights </h3>
              </div>
      </div>
      </div>
      <div class="row">
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
