
<head>
  {% load static %}
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Dyslexia Friendly Books</title>
</head>

<body>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Search Book</span>
          <p>Search Project Gutenburg for books</p>
        </div>
      </div>
    </div>
  </div>

<div class="card-panel hoverable">
  <div class="row">
    <div class="col s12 m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Search Book</span>
          <p>Search Project Gutenburg for books</p>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>
