.btn{
	border:1px solid white;
	color: black;
}
.btn:hover, focus{
	border:1px solid white;
}

h3{
	text-align: center;
}

mark{
	background-color: #F18282;
}

.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	margin-left: 38%;
}


.form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 250px;
 
}

.form-inline #search{
  width: 50%;
}